# Visual Studio 2015/2017 cache/options directory
.vs/

# Build results
Help/mvmf6.out
ModelViewer/x64/
mv/x64/
_*/

# User-specific files
*.suo
*.user

# Windows thumbnail cache files
Thumbs.db

# Visual C++ cache files
ipch/
*.aps

# Compiled Html file
Help/mvmf6.chm

# Visual Studio history directories
.vshistory/

# Apple Desktop Services Store
.DS_Store

# vscode settings
.vscode/

# local cmake presets
CMakeUserPresets.json

# read-the-docs
docs/build

# Backup files
*.BAK

# .env files
.env*